body
{
	font-family: 'Lato', sans-serif;
	background-color:#777;
}

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.container
{
	width:874px;
	height:614px;
	background-color:#000;
	margin:20px auto;
	position:relative;
	overflow:hidden;
}

.czerwony
{
	width:1074px;
	height:614px;
	position:absolute;
	left:-20%;
	top:50%;
	transform:rotate(20deg);
	background-color:#ff0000;
	border-left:0px solid #fff;
}	

.foto
{
	position:absolute;
	top:42%;
	left:53%;
	width:500px;
}

.foto img
{
	width:500px;
	border:3px solid #fff ;
	border-radius:0px;
}	

.herb
{
	position:absolute;
	top:5%;
	right:3%;
	width:130px;
}

.herb img
{
	width:130px;
	border:0px solid #fff ;
	border-radius:50%;
}	

.logo 
{
	color:#fff;
	font-size:34px;
	position:absolute;
	left:0;
	top:0;
	margin:5px 20px;
	text-shadow:0px 0px 8px #aaa;
	font-weight:800;
}

.logo h1
{
	font-weight:400;
}

.tel
{
	color:#fff;
	font-size:45px;
	position:absolute;
	top:18%;
	right:25%;
	font-weight:400;
	text-shadow:0px 0px 8px #aaa;
}

.tel i
{
	margin:0 15px;
}

.adres
{
	color:#fff;
	font-size:35px;
	position:absolute;
	top:37%;
	left:2%;
	font-weight:300;
	text-shadow:0px 0px 8px #daa;
}	
	
.godz
{
	color:#fff;
	font-size:35px;
	position:absolute;
	top:30%;
	right:4%;
	font-weight:500;
	text-shadow:0px 0px 8px #aaa;
	line-height:170%;
	text-align:center;
}	
	
.rekl
{
	color:#000;
	font-size:55px;
	position:absolute;
	top:52%;
	left:1%;
	font-weight:300;
	text-shadow:0px 0px 0px #333;
}		

.stopka
{
	color:#fff;
	font-size:19px;
	position:absolute;
	bottom:5%;
	left:0;
	width:100%;
	font-weight:300;
	text-shadow:0px 0px 4px #daa;
	display:none;
}	

.stopka p
{
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}

.menu 
{
	color:#fff;
	font-size:34px;
	position:absolute;
	top:74%;
	left:1%;
	font-weight:500;
	text-shadow:0px 0px 8px #caa;
	line-height:170%;
}